 a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font: inherit; */
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html {
	-webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
}

a { text-decoration: none; color: inherit; }

ul, li { list-style: none; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.f-flex { display: flex; }

.flex-1 { flex: 1; }

.flex-column { flex-direction: column; }

.flex-wrap { flex-wrap: wrap; }

.flex-align { display: flex; align-items: center; }

.flex-justify { display: flex; justify-content: center; }

.space-between { justify-content: space-between; }

.relative { position: relative; }

.user-select {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.upf {
  display: flex;
  justify-content: center;
  align-items: center;
}

.akmask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}
.akmask .alert-bg{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.akmask .akcont {
	position: fixed;
	z-index: 80;
	top: 20%;
	left: 50%;
	width: 3.2rem;
	margin-left: -1.6rem;
}

.errClose {
	position: absolute;
	right: 5px;
	top: 7px;
	width: 22px;
}

@font-face {
  font-family: "iconfont"; /* Project id 2874754 */
  src: url('//at.alicdn.com/t/font_2874754_0el40vvout76.woff2?t=1634884005704') format('woff2'),
       url('//at.alicdn.com/t/font_2874754_0el40vvout76.woff?t=1634884005704') format('woff'),
       url('//at.alicdn.com/t/font_2874754_0el40vvout76.ttf?t=1634884005704') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e60d";
}

.icon-dianzanxuanzhong:before {
  content: "\e767";
}

.icon-guanbi:before {
  content: "\e609";
}

.icon-shanchu:before {
  content: "\e613";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-iconfontzhizuobiaozhun023148:before {
  content: "\e696";
}

.icon-xing:before {
  content: "\e615";
}

.icon-caozuo-pingxingline:before {
  content: "\e6b4";
}

.icon-hua:before {
  content: "\e604";
}

.icon-xiangzuo_o:before {
  content: "\eb9a";
}

.icon-act_dianzan:before {
  content: "\e600";
}

.icon-huaduo:before {
  content: "\e602";
}

.icon-hua1:before {
  content: "\e697";
}

.icon-weixiao:before {
  content: "\e611";
}



#app {
	position: relative;
}

.ellipsis {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fbox-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.nj-element-box {
    position: relative;
	width: 100%;
}

.complaint_box {
	position: fixed;
	top: 50%;
	right: 0;
	z-index: 99999;
}
.complaint_box .complaint_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6px 2px 10px;
	font-size: 16px;
	color: #fff;
	background-color: rgba(0, 0, 0, .75);
	border-radius: 5px 0 0 5px;
	cursor: pointer;
}
.complaint_box .complaint_content a { display: contents; }
.complaint_box .icon {
	width: 26px;
	height: 26px;
	background: url('https://oss.jfb.qidianbox.com/preview/complaint.png') no-repeat;
	background-size: 100% 100%;
	margin-bottom: 2px;
}

.ucTips {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
}

.tips-bg {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}

.ucTips img {
	width: 3.2564rem;
	height: 1.5876rem;
	position: absolute;
	right: .15rem;
	bottom: .6rem;
}

/* 轮播图 开始 */
/*定义css变量*/

.ft-carousel {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ft-carousel .carousel-inner {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}

.ft-carousel .carousel-inner .carousel-item {
	float: left;
	height: 100%;
}

.ft-carousel .carousel-item img {
	width: 100%;
}

.ft-carousel .carousel-indicators {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 0;
}

.ft-carousel .carousel-indicators span {
	display: inline-block;
	width: 12px;
	height: 3px;
	text-align: center;
	background-color: #fff;
	cursor: pointer;
	margin: 0 2px;
	color: #fff;
	opacity: .48;
}

.ft-carousel .carousel-indicators span.active {
	opacity: 1;
}

.ft-carousel .carousel-btn {
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	height: 36px;
	width: 36px;
	line-height: 36px;
	cursor: pointer;
	transition: .3s;
	border-radius: 50%;
	background-color: rgba(31,45,61,.11);
	color: #fff;
	position: absolute;
	top: 50%;
	z-index: 10;
	transform: translateY(-50%);
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	display: none;
}

.ft-carousel .carousel-prev-btn {
	left: 10px;
}

.ft-carousel .carousel-next-btn {
	right: 10px;
}
.ft-carousel .carousel-prev-btn,
.ft-carousel .carousel-next-btn {
	display: block;
	background-color:rgba(31,45,61,.23)
}

/* 轮播图 结束 */


/* 标题 开始 */
.headline-holder .nj-headline {
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
}
.headline-holder .nj-headline .head-title {
  display: block;
  text-align: center;
  position: relative;
  font-size: 0;
}
.headline-holder .nj-headline .head-title.style-one {
  color: #595959;
  padding: 0 0.1rem;
  text-align: left;
}
.headline-holder .nj-headline .head-title.style-two {
  color: #1095fe;
  padding: 0px 0.09rem 0px 0.19rem;
  text-align: left;
}
.headline-holder .nj-headline .head-title.style-two::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0.03rem;
  height: calc(100% - .22rem);
  top: 0.11rem;
  left: 0.12rem;
  background: #1095fe;
}
.headline-holder .nj-headline .head-title.style-three {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headline-holder .nj-headline .head-title.style-three .threeItem {
  background: transparent url("https://oss.jfb.qidianbox.com/assets/h5/headline-three.png") 75% no-repeat;
  background-size: 60% auto;
  width: 0.52rem;
  height: 0.3rem;
}
.headline-holder .nj-headline .head-title.style-three .threeItem.aside-left-three {
  margin-right: 0.1rem;
}
.headline-holder .nj-headline .head-title.style-four {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headline-holder .nj-headline .head-title.style-four .fourItem {
  background: transparent url("https://oss.jfb.qidianbox.com/assets/h5/headline-four.png") 75% no-repeat;
  background-size: 100%;
  width: 0.92rem;
  height: 0.15rem;
}
.headline-holder .nj-headline .head-title.style-four .fourItem.aside-right-four {
  transform: rotate(180deg);
}
.headline-holder .nj-headline .head-title.style-four .ellipsis { display: flex; }
.headline-holder .nj-headline .head-title.style-five {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0px 0.1rem;
  text-align: center;
}
.headline-holder .nj-headline .head-title.style-five .aside-left-five,
.headline-holder .nj-headline .head-title.style-five .aside-right-five {
  flex-grow: 1;
  height: 0.01rem;
  background: #fca121;
}
.headline-holder .nj-headline .head-title h2 {
  margin: 0;
  padding: 0.09rem 0;
  line-height: 1.2;
  /* display: inline-block; */
	display: flex;
  width: auto;
  font-size: 0.18rem;
  color: #000000;
}
.headline-holder .nj-headline .head-title h2 p {
  font-size: initial;
}
.headline-holder .nj-headline .head-title h2.hsg0 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.45rem;
  height: 0.45rem;
  margin: 0 0.2rem;
  border-radius: 0.45rem;
  background-color: #fca121;
}
.headline-holder .nj-headline .head-title h2.hsg0 p {
  max-width: 0.45rem;
}
/* 标题 结束 */


/* 文本 开始 */
.nj-text {
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    text-align: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}
.text-holder .nj-text span { display: inline-block; }
/* 文本 结束 */


/* 按钮 开始 */
.btn-holder {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nj-btn {
    position: relative;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    margin: .02rem 0;
    cursor: pointer;
}
.nj-btn.style-one {
	background-color: #fca121;
	border-radius: .02rem;
	color: #fff;
}
.nj-btn.style-two {
	background-color: transparent;
	border-radius: .02rem;
	color: #fca121;
}
/* 按钮 结束 */


/* 图片 开始 */
.nj-image {
  position: relative;
  width: 100%;
  /* height: 100%; */
  text-align: center;
  font-size: 0;
  overflow: hidden;
}
.nj-image a {
  display: block;
  width: 100%;
  line-height: 0;
  margin: auto;
  overflow: hidden;
}
.nj-image .picon {
  width: 0.97rem;
  margin: 0.1rem auto 0;
  display: block;
}
.nj-image .image-text {
  display: block;
  color: #8a8a8a;
  width: 100%;
  font-size: 0.14rem;
  text-align: center;
  margin-bottom: 0.2rem;
}
.nj-image .img-lazyload {
  width: 100%;
  position: relative;
}
/* 图片 结束 */


/* 视频 开始 */
.nj-video {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nj-video video {
  width: 100%;
  height: 100%;
}
.nj-video .vjs-big-play-button {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.nj-video .video-js {
  width: 100%;
  height: 100% !important;
  position: initial;
}
.nj-video .vjs-poster {
  background-size: cover;
}
/* 视频 结束 */


/* 阅读 开始 */
.reading-holder .nj-reading {
  position: relative;
  line-height: 0.28rem;
  justify-content: space-between;
}
.reading-holder .nj-reading .icon-huaduo {
  margin-right: 1px;
}
.reading-holder .nj-reading .kan {
  margin-right: 0.03rem;
}
/* 阅读 结束 */


/* 评论 开始 */
.comment-holder ul, .comment-holder li {
  padding: 0;
  margin: 0;
  border: none;
}
.comment-holder.style-one .likes {
  color: #576B95;
}
.comment-holder.style-two .likes {
  color: #595959;
}
.comment-holder .comments-li {
  padding: 0.15rem;
}
.comment-holder .comment-right,
.comment-holder .section-top .top-info {
  justify-content: space-between;
}
.comment-holder .comment-left {
  margin-right: 0.05rem;
}
.comment-holder .user-img {
  width: 0.42rem;
  height: 0.42rem;
  object-fit: cover;
  border-radius: 4px;
}
.comment-holder .comment-right {
  flex-grow: 1;
  margin-left: 0.05rem;
  text-align: left;
}
.comment-holder .name-bar,
.comment-holder .fs0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1.25rem;
}
.comment-holder .name-bar {
  margin-right: 0.15rem;
}
.comment-holder .user-name {
  color: #595959;
  font-size: 0.16rem;
  line-height: 1.4;
}
.comment-holder .comment-time {
  color: #888;
  font-size: 0.12rem;
  line-height: 1.5;
}
.comment-holder .likes {
  justify-content: flex-end;
  color: #888;
  font-size: 14px;
  cursor: pointer;
}
.comment-holder .likes .zan {
  font-size: 14px;
  margin-right: 2px;
}
.comment-holder .comment-content {
  margin-top: 0.05rem;
  color: #595959;
  font-size: 0.14rem;
  line-height: 1.5;
  text-align: left;
}
.comment-holder .reply-info {
  padding-top: 0.05rem;
}
.comment-holder .replay-avatar {
  justify-content: space-between;
}
.comment-holder .replay-img {
  width: 0.26rem;
  height: 0.26rem;
  border-radius: 50%;
}
.comment-holder .relay-name {
  color: #999;
  font-size: 0.15rem;
  padding: 0.03rem 0.06rem 0;
}
.comment-holder .relay-content {
  padding-left: 0.26rem;
  margin-top: -0.07rem;
}
.comment-holder .relay-content .comment-content {
  font-size: 0.13rem;
}
/* 评论 结束 */


/* 消息 开始 */
.message-holder {
    display: flex;
    height: 100%;
    align-items: center;
}
.fui-danmu {
  border-radius: 0.38rem;
  z-index: 2;
  padding: 0.03rem;
  align-items: center;
  font-size: 0.13rem;
  color: #fff;
  overflow: hidden;
  display: flex !important;
}
.fui-danmu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: -1;
  opacity: 0.7;
  border-radius: 0.38rem;
}
.fui-danmu .thumb {
  height: 0.26rem;
  width: 0.26rem;
  border-radius: 50%;
  background: #fff;
  z-index: 2;
}
.fui-danmu .text {
  flex: 1;
  padding-left: 0.04rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 2;
}
.fui-danmu .time {
  max-width: 0.8rem;
  text-align: right;
  padding: 0 0.04rem;
  font-size: 0.13rem;
  z-index: 2;
}
/* 消息 结束 */


/* 表单 开始 */
.form-holder-wrapper {
  position: relative;
  padding: 32px 0;
}
.form-holder-wrapper .form-placeholder {
  padding: 15px;
  flex-direction: column;
}
.form-holder-wrapper .comp-placeholder-text {
  color: #8a8a8a;
  font-size: 14px;
  line-height: 1.5;
}
.form-holder-wrapper .el-icon-document {
  font-size: 60px;
  margin-bottom: 10px;
  color: #d6d6d6;
}

.form-holder {
  text-align: center;
}







.clue-form-wrapper2, .clue-form-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  font-size: 0.14rem;
  line-height: 1.5;
  outline: none;
}
.clue-form-wrapper2.svelte-1a6hz25 {
  background-color: #fff;
}
.clue-form-wrapper2 .clue-form {
  padding: 0.1275rem 0.24rem;
  font-size: 0.14rem;
  line-height: 0.22rem;
  --placeholder-color: #b5b5b5;
  --input-error-color: #ff4444;
}
.clue-form-wrapper2 .clue-form > :nth-of-type(n+2) {
  margin-top: 0.22rem;
}
.clue-form-wrapper2 .clue-form.clue-form__row {
  padding: 0.12rem 0.16rem;
}
.clue-form-wrapper2 .clue-form.clue-form__row > .style-three {
  margin-top: 0px !important;
}
.clue-form-wrapper2 .clue-form .required .label::after {
  content: "*";
  color: #ff4444;
}
.clue-form-wrapper2 .clue-form .label {
  color: inherit;
  font-weight: 500;
  text-align: left;
}
.clue-form-wrapper2 .clue-form .input-item {
  -webkit-appearance: none;
  padding: 0.16rem 0 0.07rem 0;
  width: 100%;
  background-color: transparent;
  border: 1px solid #dcdcdc;
  border-radius: 0;
  font-size: 0.14rem;
  line-height: 0.22rem;
  outline: none;
}
.clue-form-wrapper2 .clue-form .input-item.bottom {
  border-width: 0 0 1px 0;
}
.clue-form-wrapper2 .clue-form .error-msg {
  color: #fe4a70;
  font-size: 0.12rem;
  line-height: 15px;
  text-align: left;
  margin-top: 5px;
}
.clue-form-wrapper2 .clue-form .input-item.range {
  padding: 0.06rem 0.12rem;
  border-width: 1px;
  border-radius: 0.02rem;
  background-color: #fff;
  margin-top: 5px;
}
.clue-form-wrapper2 .clue-form .style-two > .label {
  display: none;
}
.clue-form-wrapper2 .clue-form .input-row-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.clue-form-wrapper2 .clue-form .input-row-wrapper .label-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: none;
  height: 0.52rem;
  font-size: 0.15rem;
  line-height: 0.21rem;
  width: 0.78rem;
  align-content: center;
  padding-right: 0.15rem;
}
.clue-form-wrapper2 .clue-form .input-row-wrapper .label-row .text {
  font-size: 0.15rem;
}
.clue-form-wrapper2 .clue-form .input-row-wrapper .label-row.required::before {
  position: absolute;
  right: 0.04rem;
  top: 0.19rem;
  content: "*";
  color: #ff4444;
}
.clue-form-wrapper2 .clue-form .input-row-wrapper .input-item-content {
  width: 100%;
}
.clue-form-wrapper2 .clue-form .input-row-wrapper .input-item-wrapper {
  width: 100%;
  height: 0.52rem;
  flex: auto;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}
.clue-form-wrapper2 .clue-form .input-row-wrapper .input-item {
  -webkit-appearance: none;
  padding: 0.16rem 0px 0.15rem 0px;
  width: 100%;
  background-color: transparent;
  border-width: 0 0 0px 0;
  border-radius: 0;
  font-size: 0.15rem;
  line-height: 0.21rem;
  outline: none;
}
.clue-form-wrapper2 .clue-form .phone_agreement_link_wrapper {
  font-size: 0.12rem;
  line-height: 0.18rem;
  color: #999;
  text-align: left;
}














.clue-form-wrapper.svelte-2xx92 {
  background-color: #fff;
}
.clue-form-wrapper .clue-form {
  padding: 0.12rem 0.24rem;
  font-family: "PingFangSC-Regular";
  font-size: 0.14rem;
  line-height: 0.22rem;
  color: #444444;
}
.clue-form-wrapper .clue-form * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.clue-form-wrapper .clue-form.clue-form__row {
  padding: 0.12rem 0.16rem;
}
.clue-form-wrapper .clue-form.clue-form__row .input-wrapper {
  display: flex;
}
.clue-form-wrapper .clue-form.clue-form__row .label {
  padding-top: 9px;
  margin-right: 12px;
  width: 64px;
  white-space: pre;
  overflow: hidden;
}
.clue-form-wrapper .clue-form.clue-form__row .input-item-wrapper {
  flex: 1;
}
.clue-form-wrapper .clue-form.clue-form__row .radio .label {
  padding-top: 0.02rem;
}
.clue-form-wrapper .clue-form.clue-form__row .checkout .label {
  padding-top: 0.05rem;
}
.clue-form-wrapper .clue-form.clue-form__row .gender .label {
  padding-top: 0.03rem;
}
.clue-form-wrapper .clue-form.clue-form__row .error-msg {
  position: absolute;
  bottom: -18px;
  left: 76px;
}
.clue-form-wrapper .clue-form .style-two > .label {
  display: none;
}
.clue-form-wrapper .clue-form .input-wrapper {
  position: relative;
  margin-top: 0.22rem;
}
.clue-form-wrapper .clue-form .input-wrapper:first-child {
  margin-top: 0;
}
.clue-form-wrapper .clue-form .input-wrapper.textarea .input-item.svelte-mmrthh {
  padding: 0.08rem;
  height: 1.16rem;
  border: 1px solid #dcdcdc;
  border-width: 0 0 1px 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
  resize: none;
}
.clue-form-wrapper .clue-form .input-item.svelte-mmrthh {
  margin-top: 0.04rem;
  -webkit-appearance: none;
  padding: 0.06rem 0 0.07rem 0;
  width: 100%;
  background-color: transparent;
  border: 1px solid #dcdcdc;
  border-width: 0 0 1px 0;
  border-radius: 0;
  font-size: 0.14rem;
  line-height: 0.22rem;
  outline: none;
}
.clue-form-wrapper .clue-form .input-item.svelte-mmrthh.range,
.clue-form-wrapper .clue-form .input-wrapper.textarea .input-item.svelte-mmrthh.range {
  border-width: 1px;
  padding: 0.06rem 0.12rem 0.07rem;
}
.clue-form-wrapper .clue-form .input-item-wrapper.range input.input-item,
.clue-form-wrapper .clue-form .input-item-wrapper.range textarea.input-item,
.clue-form-wrapper .clue-form .input-item-wrapper.range .zd-input__inner,
.clue-form-wrapper .clue-form .input-item-wrapper.range .ui-input > input,
.clue-form-wrapper .clue-form .input-item-wrapper.range .ui-select-button {
  border-width: 1px !important;
  padding: 0.06rem 0.12rem 0.07rem !important;
}
.clue-form-wrapper .clue-form .input-item.svelte-mmrthh.range.el-input--medium .el-input__inner {
	padding: .06rem .12rem .07rem;
}
.clue-form-wrapper .clue-form .input-item.svelte-mmrthh.range.el-input__inner {
	border-width: 1px; padding-left: .12rem;
}
.clue-form-wrapper .clue-form .gender-item-wrapper {
  margin-top: 0.08rem;
  display: flex;
  flex-wrap: wrap;
  color: rgba(68, 68, 68, 0.8);
}
.clue-form-wrapper .required .label::after {
  content: "*";
  color: #ff4444;
}
.clue-form-wrapper .label {
  color: inherit;
  font-weight: 500;
  text-align: left;
}
.clue-form-wrapper .mt22 {
  margin-top: 0.22rem;
}
.clue-form-wrapper .error-msg {
  color: #fe4a70;
  font-size: 0.12rem;
  line-height: 15px;
  text-align: left;
  margin-top: 5px;
}
.clue-form-wrapper .phone_agreement_link_wrapper {
  font-size: 0.12rem;
  line-height: 0.18rem;
  color: #999;
  text-align: left;
}
.clue-form-wrapper .phone_agreement_link_wrapper .icon,
.clue-form-wrapper2 .phone_agreement_link_wrapper .icon{
  display: inline-block;
  content: "";
  width: 0.16rem;
  height: 0.16rem;
  margin-top: -1px;
  margin-right: 0.08rem;
  line-height: inherit;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("https://oss.jfb.qidianbox.com/assets/h5/sele1.png");
  cursor: pointer;
}
.clue-form-wrapper .phone_agreement_link_wrapper .icon.selected,
.clue-form-wrapper2 .phone_agreement_link_wrapper .icon.selected{
  background-image: url("https://oss.jfb.qidianbox.com/assets/h5/sele2.png");
}
.clue-form-wrapper .phone_agreement_link_wrapper .phone_agreement_link,
.clue-form-wrapper2 .phone_agreement_link_wrapper .phone_agreement_link{
  color: #3B9AFF;
  text-decoration: none;
}
.clue-form-wrapper .submitbtn,
.clue-form-wrapper2 .submitbtn{
  margin: 0.24rem auto 0;
  padding: 0;
  width: 100%;
  height: 0.48rem;
  color: #fff;
  background-color: #3B9AFF;
  border-radius: 0.28rem;
  font-family: PingFangSC-Regular;
  font-weight: bold;
  font-size: 0.18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.clue-form-wrapper .submitbtn .svelte-pgjnfl {
  flex: 1 0 auto;
}
.clue-form-wrapper .submitbtn.disagree {
  background-color: #E8ECED !important;
  color: black !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"] {
	-moz-appearance: textfield;
}
/* 表单 结束 */


/* 加粉 开始 */
.wxfans-holder {
  font-size: 0.12rem;
  width: 100%;
  /* height: 0.8rem; */
  padding: 0.14rem 0;
}
.wxfans-holder .hes0 {
  height: 100%;
}
.wxfans-holder .part-left {
  margin-right: 0.05rem;
}
.wxfans-holder .head-img {
  display: block;
  width: 0.52rem;
  height: 0.52rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.wxfans-holder .fbox-content {
  position: relative;
  height: 100%;
}
.wxfans-holder .part-right {
  overflow: hidden;
  max-width: 2.79rem;
}
.wxfans-holder .part-right .exbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  /* height: 0.52rem; */
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wxfans-holder .part-right .wx-text-line {
  line-height: 1.2;
}
.wxfans-holder .part-right .btn-to {
  width: 1.72rem;
  height: 0.26rem;
  line-height: 0.26rem;
  margin-top: 0.05rem;
  background-color: #0188fb;
  border-radius: 0.04rem;
  color: #fff;
  font-size: 0.14rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wxfans-holder .part-right .btn-two {
  max-width: 2.59rem;
  line-height: 0.16rem;
  margin-top: 0.1rem;
  color: #595959;
  font-size: 0.14rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inputwn {
	outline: none;
	border: none;
	background-color: transparent;
	/* display: none; */
}
/* 加粉 结束 */

/* 立即咨询 开始 */
.consult-holder {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.consult-zixun {
	display: flex;
	justify-content: center;
	width: 100%;
}
.consult-zixun .imgs {
	width: 180px;
	-webkit-animation-name: breathe;
	animation-name: breathe
}
/* 立即咨询 结束 */






/* 隐私协议 开始 */
.privacy_box .default-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: none;
}
.privacy_box .dialog-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.9;
}
.privacy_box .dialog-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.5s;
}
.privacy_box .dialog-container {
  position: fixed;
  z-index: 80;
  top: 17%;
  left: 7%;
  width: 86%;
  background-color: #ffffff;
  border-radius: 0.142rem;
  overflow: hidden;
  box-shadow: 0 0.142rem 0.142rem rgba(0, 0, 0, 0.3);
}
.privacy_box .default-close-btn {
  position: absolute;
  top: 0.114rem;
  right: 0.114rem;
  width: 0.224rem;
  height: 0.224rem;
  cursor: pointer;
  font-size: 0.251rem;
  font-weight: bold;
}
.privacy_box .head-title {
  margin: 0 auto;
  margin-top: 0.25rem;
  margin-bottom: 0.16rem;
  font-size: 0.21rem;
  text-align: center;
  font-weight: bold;
}
.privacy_box .scroll_rule {
  padding: 0 0.25rem;
  margin-bottom: 0.25rem;
  box-sizing: border-box;
  font-size: 0.16rem;
  height: 3.5rem;
  overflow-y: scroll;
}
.privacy_box .article {
  font-size: 0.16rem;
  text-align: justify;
  text-align-last: left;
}
/* 隐私协议 结束 */

/* 表单提交弹框 开始 */
.alert-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}
.alert-wrap .alert-mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.alert-wrap .alert-box {
  flex-direction: column;
  width: 3rem;
  padding: 0.3rem 0.2rem;
  background: #fff;
}
.alert-wrap .alert-text-wrap {
  margin: 0.19875rem 0;
}
.alert-wrap .alert-text {
  color: #595959;
  font-size: 0.14rem;
  line-height: 1.5;
}
.alert-wrap .alert-icon {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}
.alert-wrap .alert-icon.alert-icon-error::before {
  content: "";
  display: block;
  width: 0.35rem;
  height: 0.05rem;
  background: #fff;
  border-radius: 0.05rem;
  transform: translate(0.2rem, 0.37rem) rotate(45deg);
}
.alert-wrap .alert-icon.alert-icon-error::after {
  content: "";
  display: block;
  width: 0.35rem;
  height: 0.05rem;
  background: #fff;
  border-radius: 0.05rem;
  transform: translate(0.2rem, 0.32rem) rotate(135deg);
}
.alert-wrap .alert-icon.alert-icon-success::before {
  content: "";
  display: block;
  width: 0.35rem;
  height: 0.05rem;
  background: #fff;
  border-radius: 0.05rem;
  transform: translate(0.06rem, 0.42rem) rotate(45deg);
}
.alert-wrap .alert-icon.alert-icon-success::after {
  content: "";
  display: block;
  width: 0.46rem;
  height: 0.05rem;
  background: #fff;
  border-radius: 0.05rem;
  transform: translate(0.28rem, 0.35rem) rotate(135deg);
}
.alert-wrap .alert-icon.error {
  background: #fe4a70;
}
.alert-wrap .alert-icon.success {
  background-color: #67c23a;
}
.alert-wrap .alert-btn {
  width: 1.2rem;
  height: 0.42rem;
  line-height: 0.42rem;
  background: #0188fb;
  border-radius: 0.04rem;
  color: #fff;
  font-size: 0.16rem;
  text-align: center;
  cursor: pointer;
}
/* 表单提交弹框 结束 */



/* 底部悬浮 开始 */
.suspension-holder {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.suspension-holder .foot_code_wrap {
  width: 100%;
  height: 1.1rem;
  background-color: #fff;
}
.suspension-holder .foot_code_wrap > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 640px !important;
  margin: 0 auto;
}
.suspension-holder .foot_code_wrap .fixedl, .suspension-holder .foot_code_wrap .fixedr {
  width: 0.72rem;
  height: 0.89rem;
}
.suspension-holder .foot_code_wrap .fixedl img, .suspension-holder .foot_code_wrap .fixedr img {
  height: 100% !important;
  max-width: 100% !important;
  width: auto;
}
.suspension-holder .foot_code_wrap .fixedm {
  width: 1.2rem;
  height: 0.95rem;
}
.suspension-holder .foot_code_wrap .code_url {
  object-fit: cover;
  height: 1.1rem !important;
  width: 1.1rem;
}
/* 底部悬浮 结束 */


/* 低版本微信 开始 */
.jfb_created_img {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 999;
	display: none;
}
.jimg { width: 100%; margin-top: 10px; }
.jfb_created_img .jfoot {
	position: fixed;
	bottom: 10px;
	text-align: center;height: 30px;
	line-height: 30px;
	font-size: 14px;
	width: 100%;
	left: 0;
	right: 0;
	color: #999;
}
/* 低版本微信 结束 */

/* 跳转微信弹框 开始 */
.starit_dialog {

}
.weui-mask {
	position: fixed;
	z-index: 1001;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
}
.weui-dialog {
	position: fixed;z-index: 5001;top: 50%;left: calc((100% - 300px) / 2);right: calc((100% - 300px) / 2);width: 300px;margin: 0 auto;-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);background-color: #fff;text-align: center;border-radius: 12px;overflow: hidden;display: flex;-webkit-flex-direction: column;-webkit-box-orient: vertical;-webkit-box-direction: normal;flex-direction: column;max-height: 90%;
}
.tiptitle {
	padding: 32px 24px 16px;font-size: 0;
}
.weui-dialog__title { font-weight: 700;font-size: 17px;line-height: 1.4; }
.weui-fdesc {
	overflow-y: auto;-webkit-overflow-scrolling: touch;padding: 0 24px;margin-bottom: 32px;font-size: 17px;line-height: 1.4;word-wrap: break-word;-webkit-hyphens: auto;hyphens: auto;color: rgba(0,0,0,0.9);
}
.btn-footer-group {
	position: relative;line-height: 56px;min-height: 56px;font-size: 17px;display: flex;border-top: 1px solid rgba(0,0,0,0.1);margin:0;
}
.input-dialog__btn_default,
.dialog__btn_default {
	display: block;flex: 1;color: rgba(0,0,0,0.9);font-weight: 700;text-decoration: none;-webkit-tap-highlight-color: rgba(0,0,0,0);position: relative;font-size: 17px;
}
.input-dialog__btn_primary,
.dialog__btn_primary {
	display: block;flex: 1;color: #576b95;font-weight: 700;text-decoration: none;-webkit-tap-highlight-color: rgba(0,0,0,0);position: relative;font-size: 17px;
}
.dialog_input .weui-fdesc {
	margin-bottom: 20px;
}
.dialog_input .input-line {
	font-size: 15px;
	color: #444;
	margin-top: 20px;
}
.dialog_input .input-line input {
	flex: 1;
	line-height: 20px;
	padding: 5px 8px;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	margin-left: 10px;
	background-color: #fff;
	box-sizing: border-box;
	font-size: 15px;
	outline: none;
	color: #4c5161;
}
/* 跳转微信弹框 结束 */


/* PC展示 布局 开始 */
.h5edit-container {
  /* max-width: 100%; */
	position: absolute;
	width: 100%;
  /* width: 600px; */
	height: 667px;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	transform: scale(1);
	left: calc(50% - 202px);
	top: 78px;
}
.h5edit-container .phonebg {
	zoom: 1;
	width: 404px;
	height: 756px;
	background: url('https://oss.jfb.qidianbox.com/skip/h5_bg.svg') no-repeat 50% 50%;
	background-size: 100% 100%;
	/* box-shadow: 0 0 32px 3px rgb(89 91 95 / 8%); */
	border-radius: 41px;
	transform-origin: left top;
}
.h5edit-container .phonebg .content {
	pointer-events: none;
	margin: 46px 0 0 15px;
	border: 1px dashed #d1d1d1;
}
.mobile-view{
  max-width: 100%;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px dashed #dcdfe6;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 5px;
	pointer-events: auto;
	box-sizing: content-box;
}
.mobile-view::-webkit-scrollbar {
	width: 0px; /*对垂直流动条有效*/
	height: 0px; /*对水平流动条有效*/
}
.dragger-box{
	height: 100%;
}
.h5edit-area {
    position: absolute;
    top: 0;
    left: 0;
}
#phone {
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: -46px;
    left: -15px;
}
#mobileView {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* PC展示 布局 结束 */

.imme-zixun {
	position: fixed;
	bottom: 30px;
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 9908;
}
.imme-zixun .imgs {
	width: 180px;
	-webkit-animation-name: breathe;
	animation-name: breathe
}
.akmask .bgimg {
	width: 100%;
}
.akmask .wx-content .qrimg {width: 1.7rem;position: absolute;margin-top: 0.7rem;}

.wcontt {
	margin: 0rem .2rem;
	padding: .1rem;
	border: 2px solid #e7e7e7;
	border-radius: .15rem;
}
.wcontt .qrc {
	width: 50%;
	object-fit: cover;
}
.wcontt .dest {
	padding: .04rem 0 0 .04rem;
	font-size: .14rem;
	color: #444;
	user-select: none;
}
.wcontt.wcotwo {background: #e7e7e7;}
.wcontt.wcotwo .wf1 {width: 50%;}
.wcontt.wcotwo .wf1 .qrcd {width: 100%;}
.wcontt.wcotwo .wf1 img {width: 100%;margin-top: 3px;}
.wcontt.wcotwo .wf2 {width: 50%;}
.wcontt.wcotwo .wf2 img {width: 100%;padding-left: 4px;}

.wqmsk {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


@keyframes breathe {
   0% { transform: scale(.95); }
   50% { transform: scale(1.13); }
   100% { transform: scale(.95); }
}









@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}

	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}

	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}


.animated {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
